.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  /* display: flex; */
  height: "40px"; /* Set the desired height*/
  width: "30px"; /* Set the fixed width */
  background-color: green; /* Background color of the navbar */
  color: white; /* Text color */
  flex-direction: row;
  position: absolute;
  left: 1px;
  position: fixed; /* Fixed positioning to stay in place */
  top: 0; /* Stick to the top of the viewport */
  bottom: 10; /* Extends to the bottom of the viewport */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
